{% extends "layout.html" %}
{% block content %}
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            {{user.name}}
        </div>
    </nav>
</div>
<div id="layoutSidenav_content">
<main>
    <div class="container-fluid">
        <h1 class="display-3 my-4">Projects</h1>
        <hr class="my-4">
        <div class="row px-5 ">
            {% for item in project %}
            <div class="col-xl-4 col-md-6 mb-4">                
                <div class="card" style="width: 18rem;">
                        <a href="#" class="card-link mr-3 mb-3">  
                            <img src="{{ url_for('static', filename='Company_logo.png') }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="mb-3">
                                    <h3 class="card-title font-weight-bold text-primary">{{item.name}}</h3>
                                    <h6 class="card-subtitle mb-2 text-muted">{{item.branch}}</h6>
                                    <h6 class="card-subtitle mb-2 text-muted"> {{item.date}}</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">{{item.department}}</h6>
                                </div>
                                <p class="card-text text-muted">{{item.description}}</p>
                            </div>
                        </a>
                    </div>                
            </div>
            {% endfor %}            
{% endblock %}